
.box{
    
    /* height: 200px; */
    border: 1px solid ;
    border-radius: 20px;
   margin-bottom: 15px;
   /* padding: 0 15px 0 10px; */
  margin-left: 15px;
  width: 200px;
  height: 150px;

    
   
}


h4{
    text-align: center;
}