 .BG_IMG {
  background-image: url('./assets/94cf5124-2ec2-4e1b-8063-d227709db6bd.png'); 
  width: 100%;
   min-height: 100vh;
   background-repeat: no-repeat;
   /* background-position: center; */
   background-size: cover;
  
 }  
 